<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/blokojs.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <h1>Title</h1>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/static/js/blokojs.js" charset="utf-8"></script>
</body>
</html>
