<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/blokojs.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
    <title>Blokojs</title>
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Blokojs</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/">Introduction</a></li>
        <li><a href="/editor">Editor</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/static/js/blokojs.js" charset="utf-8"></script>
</body>
</html>
